---
---

@import 'all';
:root {
    /* text colors (Title, Text, Links, Dates) */
    --title-color: white;
    --text-color: black;
    --link-color: black;
    --dates-color: #404040;

    /* background colors (Body, Cards, Banner)*/
    --body-color: #b9b59f;
    --card-color: #flebe0;
    --banner-background-color: #1C539F;

    /* page colors (See page.scss) **/
    --page-color: #b9b59f;
    --page-code-color: #17a2b8;
    
    --font-family: 'Montserrat', sans-serif;
  }

[data-theme="dark"] {
    /* text colors (Title, Text, Links, Dates) */
    --title-color: white;
    --text-color: white;
    --link-color: white;
    --dates-color: #b6b6b6;

    /* background colors (Body, Cards, Banner, Form)*/
    --body-color: #515d52;
    --card-color: #152c18;
    --banner-background-color: #e3ac67;

    /* page colors (See page.scss) **/
    --page-color: #515d52;
    --page-code-color: #17a2b8;
}
